<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fascinate&family=Merriweather:wght@300&display=swap" rel="stylesheet">

.border {
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;
}

h1 {
    color:burlywood;
    text-decoration: underline overline;
    text-align: center;
}
h2 {
    color: burlywood;
    text-align: center;
}
.button {
    text-align: center;
}
